<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Merhaba <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
        <!-- Logout Button -->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" />
        </form>
    </div>

    <h1>Products</h1>
    <a href="/products">Create New Product</a>
    <br><br>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Brand</th>
                <th>Product Made In</th>
                <th>Product Price</th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR')">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listAllProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Product Name</td>
                <td th:text="${product.brand}">Product Brand</td>
                <td th:text="${product.madeIn}">Product Made In</td>
                <td th:text="${product.price}">Product Price</td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <a th:href="/@{'/edit' + ${product.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a src:authorize="hasAnyAuthority('ADMIN')" th:href="/@{'/delete' + ${product.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>